@(form: Form[Account])

@style = {
  <link href='@routes.Assets.at("stylesheets/signup.css")' rel="stylesheet">
}

@main("Login", style) {
  <form class="form-signin" role="form" method="post">
    @helper.form(routes.SignupController.submit) {
      <h2 class="form-signin-heading">Please sign up</h2>
      @if(form.hasGlobalErrors) {
        <p class="form-error" >@form.globalError.message</p>
      }
      <input type="email" name="email" class="form-control" placeholder="Email" autofocus required>
      <input type="text" name="username" class="form-control" placeholder="Username" required>
      <input type="password" name="password" class="form-control" placeholder="Password" required>
      <input type="text" name="first_name" class="form-control" placeholder="First Name" required>
      <input type="text" name="last_name" class="form-control" placeholder="Last Name" required><br>
      <button class="btn btn-success btn-primary btn-block" type="submit">Sign up</button>
    }
  </form>
}