body{
  background-color: #222327;
}

.form-signin {
  max-width: 330px;
  margin: 150px auto;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.form-signin input[type="text"] {
  margin-top: -1px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.form-signin input[type="password"] {
  margin-top: -1px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.form-signin input[name="last_name"] {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.form-error {
  color: red;
}
