body{
  font-weight: 600;
  color: white;
}

.navbar{
  position: relative;
  min-height: 64px;
  margin-bottom: 0;
  border: 1px solid transparent;
  color: white;
}

.navbar-default {
  background-color: rgba(0,0,0,0.75);
  border-width: 0;
}

.navbar-brand {
  font-size: 25px;
  font-weight: 200;
  letter-spacing: 2px;
  padding: 0 15px;
  text-transform: uppercase;
  white-space: nowrap;
  float: left;
  line-height: 24px;
  height: 64px;
}

.nav>li>a, .nav-inverse>li>a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.navbar-nav>li>a {
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 22px;
  padding-bottom: 18px;
  line-height: 24px;
  font-weight: 600;
}

.navbar-toggle {
  position: relative;
  float: right;
  margin-right: 15px;
  padding: 9px 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.navbar-default .navbar-nav>li>a{
  color: white;
}

.navbar-default .navbar-nav>.active>a{
  color: white;
  background-color: black;
}

.navbar-default .navbar-nav>.active>a:hover{
  color: white;
  background-color: black;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: transparent;
}

.navbar-logo {
  background-image: url("https://d3nkxvtkt5c8vi.cloudfront.net/3.0.1/images/logo.png");
  background-position: left center;
  background-repeat: no-repeat;
  float: left;
  height: 100%;
  width: 130px;
}