body{
  background-color: #222327;
}

.main{
  margin-top: 2em;
}

.panel{
  background-color: transparent;
}

.panel-success{
  border-color: #A1CC08;
}

.panel-success>.panel-heading{
  background-color: #A1CC08;
  border-color: #A1CC08;
}

.list-group-item{
  background-color: transparent;
}