@style = {
  <link href='@routes.Assets.at("stylesheets/user.css")' rel="stylesheet">
}

@main("Welcome", style) {
  <div class="main row">
    
  
            <h3>Welcome Admin</h3>
        
  </div>
}