@style = {
  <link href='@routes.Assets.at("stylesheets/user.css")' rel="stylesheet">
}

@main("Welcome", style) {
  <div class="main row">
    <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
      <div class="col-lg-3 col-sm-3">
        <div class="panel panel-success">
          <div class="panel-heading">
            <h3 class="panel-title">Playlists</h3>
          </div>
          <ul class="list-group">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-9"></div>
    </div>
    <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
      <div class="col-lg-3 col-sm-3">
        <div class="panel panel-success">
          <div class="panel-heading">
            <h3 class="panel-title">Songs</h3>
          </div>
          <ul class="list-group">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
}