@(form: Form[forms.LoginForm])

@style = {
  <link href='@routes.Assets.at("stylesheets/login.css")' rel="stylesheet">
}

@main("Login", style) {
  <form class="form-signin" role="form" method="post">
    @helper.form(routes.LoginController.authenticate) {
      <h2 class="form-signin-heading">USER: Please sign in </h2>
      @if(form.hasGlobalErrors) {
        <p class="form-error" >@form.globalError.message</p>
      }
      <input type="email" name="email" class="form-control" placeholder="Email" autofocus required>
      <input type="password" name="password" class="form-control" placeholder="Password" required>
      <div class="checkbox">
        <label><input type="checkbox" value="remember-me"> Remember me</label>
      </div>
      <button class="btn btn-success btn-primary btn-block" type="submit">Sign in</button>
    }
  </form>
}